<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Online Cake Shop - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static './myapp/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static './myapp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Google Fonts -->


  <!-- Template Main CSS File -->
  <link href="{% static './myapp/assets/css/style.css' %}" rel="stylesheet">
</head>
  <body {% block background %}{% endblock %}>
    <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="{% url 'admin_home'%}"><serif><b> Admin Home </b></serif></a></h1>

              <li><a href="{% url 'admin_cake_master_search'%}">Search Cakes</a></li>
              <li><a href="{% url 'admin_cake_master_add'%}"> <b> Add Cake </b> </a></li>
              <li><a href="{% url 'admin_cake_master_view'%}"><b> All Cakes </b></a></li>
              <li><a href="{% url 'admin_cake_orders_view'%}"><b>Cake Orders </b></a></li>
              <li><a href="{% url 'admin_cake_payment_view'%}"><b>Transaction Details</b></a></li>
              <li><a href="{% url 'admin_changepassword'%}"> <b> Change Password </b> </a> </a></li>
              <li><a href="{% url 'admin_logout'%}"><b>Logout </b></a></li>

    </div>
  </header>


     {% block body %}{% endblock %}

  <!-- Template Main JS File -->
  <script src="{% static './myapp/assets/js/main.js' %}"></script>

</body>

</html>