{% extends 'myapp/user_base.html' %}
{% load static %}
{% block title %}Order Details{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<br>

<center>
    <h1>Order Details</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}

        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-dark">


            <tr>
                <th> Id </font></th>
                <th><font color="white"> Product </font></th>
                <th><font color="white"> User </font></th>
                <th><font color="white"> Remarks </font></th>
                <th><font color="white"> Booking Date </font></th>
                <th><font color="white"> Date / Time </font></th>

            </tr>
            </thead>
            {% for cs in order_list %}
            <tbody>
            <tr>
                <td><font color="white"> {{ cs.id }} </font></td>
                {% for h in cake_list %}
                    {% if h.id == cs.cake_id %}
					    <td><font color="white"> {{ h.name }} </font></td><font color="white">
				    {% endif %}
			    {% endfor %}
                {% for h in user_list %}
                    {% if h.user_id == cs.user_id %}
					    <td><font color="white"> {{ h.fname }} {{ h.lname }} </font></td>
				    {% endif %}
			    {% endfor %}
                <td><font color="white"> {{ cs.remarks }} </font></td>
                <td><font color="white"> {{ cs.bdt }} </font></td>

                <td><font color="white"> {{ cs.dt }} / {{ cs.tm }} </font></td>
            </tr>
            <tbody>
            {% endfor %}


        </table>


    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
